.fa {
	vertical-align: middle;
}

.fa-external-link {
	@include adjust-font-size-to(8.499px);
}


.fa-ul {
	margin-left: 1.55em !important;
	/* #sorryBoutIt Such is the peril of bootstrap*/
	background: $highlight;
	li {
		padding: 0 0 0 .25em;
	}
}

.fa-li {
	top: 0.34em;
}
