.horizontalList {
    li {
        display: inline-block;
        vertical-align: top;
    }
}

.place {
		@include trailer();
}

ul {
  list-style: disc;
  margin: 0 0 0 1em;
  @include trailer(.5);
}
